{% extends "base2.html" %}


{% block content %}
<div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h2 style="padding:20px 0px 20px 0px;text-align: center;" id="portfolioType">Careers Page</h2>
            </div>
        
    </div>
    <div class="row">
        <h4>Come Join Us!</h4><br><br>
    </div>
    <div class="row">
    
        We are an early-phase startup in the new and exciting intersectional space of  Fintech and Edtech<br>
        If you are interested in joining our team, email us your resume now! <a href="mailto:info@millennialinvesting.runningdigitally.com">info@millennialinvesting.runningdigitally.com</a>
      
    </div>    
      
    </div>

{% endblock %}

