{% extends "base2.html" %}


{% block content %}
<div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h2 style="padding:20px 0px 20px 0px;text-align: center;" id="portfolioType">Education: Learn More..</h2>
            </div>
        
    </div>
    <div class="row">
   Invest in yourself. Learn more about the jargon here.<br><br>
    </div>
    <div class="row">
    
        <div class="col-3"> 
            <h3>Term</h3> 
        </div>
        <div class="col-9">
            <h3>Explanation</h3>
        </div>
    </div>
    <div class="row">
    
        <div class="col-3"> 
            <h4><a href="#beta">Beta</a> </h4>
        </div>
        <div class="col-9">
            Beta is a measure of the volatility, or systematic risk, of a security or portfolio in comparison to the market as a whole. It is used in the capital asset pricing model. <br> <a href="https://www.investopedia.com/terms/b/beta.asp">Further Reading</a> <br><br> 
        </div>
    </div>
    <div class="row">
    
        <div class="col-3"> 
            <h4><a href="#Confidence">Confidence Level</a></h4>
        </div>
        <div class="col-9">
            Learn about the value at risk, how confidence intervals and confidence levels are used to interpret the value at risk and the difference between the two. <br><a href="https://www.investopedia.com/ask/answers/041615/whats-difference-between-confidence-level-and-confidence-interval-value-risk-var.asp">Further Reading</a> <br><br>

        </div>
    </div>        
        
        <div class="row">
    
        <div class="col-3"> 
            <h4><a href="#Return">Return Calculation</a></h4>
        </div>
        <div class="col-9">
            Return is the financial gain or loss on an investment. Yield measures the income, such as interest and dividends, from an investment and is expressed as a percentage. <br><a href="https://www.investopedia.com/ask/answers/difference-between-yield-and-return/">Further Reading</a>  <br><br>

        </div>
    </div>    
        
            <div class="row">
    
        <div class="col-3"> 
            <h4><a href="#Monte-Carlo">What is Monte Carlo simulation?</a></h4>
        </div>
        <div class="col-9">
            Monte Carlo simulation (also known as the Monte Carlo Method) lets you see all the possible outcomes of your decisions and assess the impact of risk. <br><a href="https://www.palisade.com/risk/monte_carlo_simulation.asp">Further Reading</a>  <br><br>
        </div>
    </div>    
      
    </div>

{% endblock %}

