{% extends "base2.html" %}

{% block head %}
{{super()}}
    <script>
        async function callback() {
            var config_responsive = {responsive: true}
            graphNotLoaded = 1;
            countDownDate = new Date().getTime();
            clear_innerHTML();
            let name = document.getElementById('alert');
            name.innerHTML = "Please allow for upto 10 secs for the data to load - This Message will disappear once we finish loading everything";
            let Stock = document.getElementById('stock').value;
            let Period = document.getElementById('period').value;
            let Interval = document.getElementById('interval').value;
            let response = await fetch("/callback/getPASR_MA?data=" + Stock + "&period=" + Period + "&interval=" + Interval);
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    response = await fetch("/callback/getInfo?data=" + Stock);
                    response_signal = await fetch("/callback/TradingSignal?data=" + Stock);
                    let infoJson = await response.json();
                    let tradeSignalText = await response_signal.text()
                    info(infoJson);
                    tradeSignal(tradeSignalText);
                    Plotly.newPlot('chart', chartJson, {}, config_responsive);
                    graphNotLoaded = 0;
                } else {
                    alert("HTTP-Error: " + response.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + response.status + "on getPASR_MA");
            }
        }
        
        
        function clear_innerHTML() {
        document.getElementById('chart').innerHTML = ""
            let name = document.getElementById('companyName');
            name.innerHTML = "";
            name = document.getElementById('symbol');
            name.innerHTML = "";
            name = document.getElementById('dayHigh');
            name.innerHTML = "";
            name = document.getElementById('dayLow');
            name.innerHTML = "";
            name = document.getElementById('52WeekHigh');
            name.innerHTML = "";         
            name = document.getElementById('52WeekLow');
            name.innerHTML = "";    
            let tradesignal_name = document.getElementById('TradingSignals');
            tradesignal_name.innerHTML = "";
            
        }
        
            
        function info(json) {
            let name = document.getElementById('companyName');
            name.innerHTML = json.shortName;
            name = document.getElementById('symbol');
            name.innerHTML = json.symbol;
            name = document.getElementById('dayHigh');
            name.innerHTML = json.dayHigh;
            name = document.getElementById('dayLow');
            name.innerHTML = json.dayLow;
            name = document.getElementById('52WeekHigh');
            name.innerHTML = json.fiftyTwoWeekHigh;            
            name = document.getElementById('52WeekLow');
            name.innerHTML = json.fiftyTwoWeekLow;
            let alert_name = document.getElementById('alert');
            alert_name.innerHTML = "";   
        }
        
        function tradeSignal(text) {
            
            let tradesignal_name = document.getElementById('TradingSignals');
            tradesignal_name.innerHTML = text;
        }
    </script>
{% endblock %}

{% block content %}

<!-- <h1>Hi, Welcome to "Universe of Investment"</h1> -->
    <div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h2 style="padding:20px 0px 20px 0px">Trading Signals</h2>
            </div>
        </div>
        
        <div class="row">
            <span style="color:red;font-weight:bold">This site is for educational and demonstation purposes, only!<br><br></span>
            <div class="col">
                <b>Select stock</b>
            </div>
            <div class="col">
                <select id="stock" class="form-select" aria-label="Select" )>
                    <option selected value="MSFT">MSFT - Microsoft</option>
                    <option value="BNS.TO">BNS.TO - The Bank of Nova Scotia</option>
                    <option value="PG">Procter & Gamble Co</option>    
                    <option value="SPY">SPY - SPDR S&P 500 ETF</option>
                    <option value="TSLA">TSLA - Tesla, Inc.</option>
                    <option value="TWTR">Twitter Inc</option>
                    <option value="UBER">UBER - Uber Technologies, Inc.</option>
                    <option value="WSRD.TO">WSRD.TO Wealthsimple Developed Markets ex NAM Socially Responsible</option>
                    <option value="ZDV.TO">ZDV - BMO Canadian Dividend ETF</option>
                    <option value="ZEB.TO">ZEB - BMO Equal Weight Banks Index ETF</option>                        
                    
                </select>
            </div>
            <div class="col">
                <b>for period</b>
            </div>
            <div class="col">
                <select id="period" class="form-select" aria-label="Select" )>
                    <option value="1d">1 day</option>
                    <option value="5d">5 days</option>
                    <option value="1mo">1 month</option>
                    <option value="3mo">3 months</option>
                    <option value="6mo">6 months</option>
                    <option selected value="1y">1 year</option>
                    <option value="2y">2 years</option>
                    <option value="5y">5 years</option>
                    <option value="10y">10 years</option>
                    <option value="ytd">Year to date</option>
                    <option value="max">Max</option>
                </select>
            </div>
            <div class="col"><b>Interval</b>
            </div>
            <div class="col">
                <select id="interval" class="form-select" aria-label="Select" )>
                    <option value="1m">1 minute</option>
                    <option value="2m">2 minutes</option>
                    <option value="5m">5 minutes</option>
                    <option value="15m">15 minutes</option>
                    <option value="30m">30 minutes</option>
                    <option value="60m">60 minutes</option>
                    <option value="90m">90 minutes</option>
                    <option selected value="1d">1 day</option>
                    <option value="5d">5 days</option>
                    <option value="1w">1 week</option>
                    <option value="1m">1 month</option>
                    <option value="3m">3 months</option>
                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="callback()">Fetch stock</button>
            </div>
        </div>
        <div class="row">
            <div class="w-100" style="padding:10px;text-align:right;font-size: small;">
                <i>Note: not all intervals are valid for all periods</i>
            </div>
        </div>
        <div id="stock_info_container" class="chart" style="border: 1px solid;box-shadow: 5px 5px 5px #888888;"> 
        <div class="row">
            <div class="col-6"><p><b>Stock info</b></p> </div>
            <div class="col-6"><p>Symbol: <span id="symbol">N/A</span></p></div>
        </div>
        <div class="row">
                <div class="col-3"><p>Day High: <span id="dayHigh">N/A</span></p></div>
                <div class="col-3"><p>Day Low: <span id="dayLow">N/A</span></p> </div>
                <div class="col-3"><p>52-Week High: <span id="52WeekHigh">N/A</span></p></div>
               <div class="col-3"> <p>52-Week Low: <span id="52WeekLow">N/A</span></p> </div>
        </div>
                  <div class="row">
        <div class="col-12" style="text-align: center;"> <br> <h5 id="alert" style="color:red"> Alert Message: [Placeholder] </h5> </div>
        <div class="col-12" style="text-align: left;"> <br> <h5 id="TradingSignals" style="color:black"> TradeSignal: [Placeholder] </h5> </div>
                      
            </div>
      <div class="row">
          <div class="col-6" style="text-align: left;color:#999" id="graph_counter"> </div>   
          <div class="col-6" style="text-align: left;color:#aaa" id="page_counter"> </div>             
      </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 id="companyName"></h2>
                <div id="chart" class="chart" style="border: 1px solid; 
                    box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>

            <div class="col-12" style="font-size:smaller;padding:10px;text-align: right;">
                <i>The data is, to the best of our knowledge, correct but cannot be guarenteed to be so</i>
                <br/>
                <i>This site is for educational and demonstation purposes, only</i>
           </div>    
        </div>
              <div class="row">
          <div class="col-3" style="text-align: center;"> </div>
          <div class="col-3" style="text-align: center;"> <a href="https://github.com/nomadic-me/Universe-of-Investments" title="Go to GitHub repo"><img src="https://img.shields.io/static/v1?label=nomadic-me&message=Universe-of-Investments&color=blue&logo=github" alt="nomadic-me - Universe-of-Investments"></a> </div>             
          <div class="col-1" style="text-align: center;"><a href="https://github.com/nomadic-me/Universe-of-Investments"><img src="https://img.shields.io/github/stars/nomadic-me/Universe-of-Investments?style=social" alt="stars - Universe-of-Investments"></a> </div>             
          <div class="col-1" style="text-align: center;"> <a href="https://github.com/nomadic-me/Universe-of-Investments"><img src="https://img.shields.io/github/forks/nomadic-me/Universe-of-Investments?style=social" alt="forks - Universe-of-Investments"></a></div>             
    <div class="col-5" style="text-align: center;"> </div>  
    </div>
        <br><br>
    </div>

    <script>
        
        callback();

// Set the date we're counting down to
var countDownDate = new Date().getTime();
var graphNotLoaded = 1;
// Update the count down every 1 second
var x = setInterval(function() 
        {
              // Get today's date and time
              var now = new Date().getTime();

              // Find the distance between now and the count down date
              var distance = now - countDownDate;

              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              document.getElementById("page_counter").innerHTML = "Since Page Load / Fetch: " + minutes + "m " + seconds + "s ";
            if (graphNotLoaded)
            {
                document.getElementById("graph_counter").innerHTML = "Time for Graph to Load: " + minutes + "m " + seconds + "s ";
            }
        }, 1000);


</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
